#pc{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 1.8em;
	display: flex;
	flex-direction: column;
	background-color: #111;
}

#pcbody{
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
}

#pcInfo p, h1, h2{
	margin-bottom: 5px;
}

#pc #logoinfo{
	position: absolute;
	top: 120px;
	left: 80%;
	width: 200px;
	image-rendering: pixelated;
}

#pcInfo{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	font-size: 16px;
}

#pcInfo h2{
	font-size: 18px;
}

#pcIndo h1{
	font-size: 20px;
}

#pcConfig{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	width: 500px;
}

#voltarPC{
	position: absolute;
	bottom: -210px;
	left: 10px;
	margin: 10px;
}

/*Compatibilidade com o tema light*/
div#ey-window.light #pc{
	background-color: #ddd;
}

div#ey-window.light .ci{
	filter: invert(90%);
}

div#ey-window.light #logoinfo{
	filter: invert(90%);
}
/*Compatibilidade com o tema light*/

.ci{
	width: 64px;
	image-rendering: pixelated;
	transform: translate(8px, 18px);
}