#pc{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 1.8em;
	display: flex;
	flex-direction: column;
	background-color: #111;
}

#pcbody{
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
}

#pcInfo p, h1, h2{
	margin-bottom: 5px;
}

#pc #logoinfo{
	position: absolute;
	top: 120px;
	left: 80%;
	width: 200px;
	image-rendering: pixelated;
}

#pcInfo{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	font-size: 16px;
}

#pcInfo h2{
	font-size: 18px;
}

#pcIndo h1{
	font-size: 20px;
}

#pcConfig{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	width: 500px;
}

#voltarPC{
	position: absolute;
	bottom: -210px;
	left: 10px;
	margin: 10px;
}

#editarUs{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #111;
}

#editarbody{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
}

.opEd{
	font-weight: bold;
	text-align: center;
	font-size: 1em;
	cursor: pointer;
	width: 150px;
	background-color: #ddd;
	color: #111;
	padding: 5px;
	margin: 10px;
	border: none;
}

.opEd:hover{
	opacity: 80%;
}

#mudarNick, #mudarSenha{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #111;
	color: #ddd;
}

#nickContainer, #senhaContainer{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 200px;
}

#botoBody, #passBody{
	display: flex;
	flex-direction: row;
}

#botoBody #nickFeito{
	width: 70%;
	margin: 1px;
}

#passBody #senhaFeita{
	width: 33%;
	margin: 1px;
}

#botoBody #nickVoltar{
	width: 40%;
	margin: 1px;
}

#passBody #senhaVoltar{
	width: 33%;
	margin: 1px;
}

#passBody #removerSenha{
	width: 33%;
	margin: 1px;
}

#novaSenha, #novoNick{
	width: 100%;
}

#editarTema{
	display: flex;
	flex-direction: column;
	width: 100%;
	left: 100%;
	color: #ddd;
	background-color: #111;
}

#editarTema #editarTemaBody{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 500px;
	align-items: center;
}

#editarTema #butEdRow{
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#editarTema #butEdRow button{
	display: block;
	width: 30%;
	margin: 1px;
}

#editarTema button{
	display: block;
	width: 40%;
	margin: 1px;
	text-align: center;
}

/*Compatibilidade com o tema light*/
div#ey-window.light #pc{
	background-color: #ddd;
}

div#ey-window.light .ci{
	filter: invert(90%);
}

div#ey-window.light #logoinfo{
	filter: invert(90%);
}

div#ey-window.light #mudarNick, div#ey-window.light #mudarSenha, div#ey-window.light #editarUs{
	background-color: #ddd;
}

div#ey-window.light .opEd{
	background-color: #222;
	color: #ddd;
}

div#ey-window.light #editarTema{
	background-color: #ddd;
}
/*Compatibilidade com o tema light*/

.ci{
	width: 64px;
	image-rendering: pixelated;
	transform: translate(8px, 18px);
}