*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.dark{
	color: #ddd;
	background-color: #111;
}

.light{
	color: #222;
	background-color: #ddd;
}

.invertColor{
	filter: invert(1);
}

.aparecer{
	opacity: 100%;
	animation: aparecer 5s linear;
}

.desaparecer{
	opacity: 0%;
	animation: desaparecer 4s linear;
}

#logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
}

body, html{
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

body{
	background-color: #444;
}

#ey-window{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
	height: 100%;
	max-height: 450px;
	margin: 4em auto;
	overflow: hidden;
}

section#criarConta{
	padding: 10px;
	display: flex;
	flex-direction: column;
}

section#criarConta h1{
	font-size: 1.8em;
	margin-bottom: 10px;
}

section#criarConta p{
	margin-bottom: 10px;
}

section#criarConta input[type="text"], section#criarConta input[type="password"]{
	padding: 5px;
	font-size: .8em;
	margin-bottom: 10px;
	border: none;
	background-color: #eee;
}

section#criarConta input[type="text"]:focus, section#criarConta input[type="password"]:focus{
	outline: 1px solid #eee;
	border: 1px solid #222;
	color: #222;
}

section#criarConta input[type="checkbox"]{
	margin-top: 10px;
	margin-bottom: 10px;
}

section#criarConta a{
	color: #844;
}

section#criarConta input[type="button"]{
	background-color: #eee;
	border: none;
	border-radius: 1px;
	max-width: 50px;
	font-weight: bold;
	padding: 5px;
}

section#bloque, section#pergunta, section#pedirSenha{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
}

section#bloque p, section#pergunta p, section#pedirSenha p{
	margin-bottom: 10px;
	font-size: 1.2em;
}

.buttonGeneric{
	background-color: #eee;
	border: none;
	border-radius: 1px;
	margin-bottom: 10px;
	font-weight: bold;
	padding: 5px;
}

@keyframes aparecer{
	0%{opacity: 0;}
	100%{opacity: 100%;}
}

@keyframes desaparecer{
	0%{opacity: 100%;}
	100%{opacity: 0%;}
}