*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

body{
	background-color: #444;
}

.dark{
	color: #ddd;
	background-color: #111;
}

.light{
	color: #222;
	background-color: #ddd;
}

#pressMsg{
	font-size: 1.2em;
	padding: 10px;
}

div#ey-window.light button{
	background-color: #222;
	color: #ddd;
}

div#ey-window.light .genericInput{
	background-color: #222;
	color: #ccc;
	border: 1px solid #ddd;
	outline: 1px solid #222;
}

.invertColor{
	filter: invert(1);
}

.aparecer{
	opacity: 100%;
	animation: aparecer 5s linear;
}

.desaparecer{
	opacity: 0%;
	animation: desaparecer 4s linear;
}

#logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
}

#ey-window{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
	height: 100%;
	max-height: 450px;
	margin: 4em auto;
	overflow: hidden;
}

#criarConta{
	padding: 10px;
	display: flex;
	flex-direction: column;
}

#criarConta h1{
	font-size: 1.8em;
	margin-bottom: 10px;
}

#criarConta p{
	margin-bottom: 10px;
}

.genericInput{
	padding: 5px;
	font-size: .8em;
	margin-bottom: 10px;
	border: none;
	background-color: #eee;
	outline: 1px solid #eee;
	border: 1px solid #222;
}

#criarConta input[type="checkbox"]{
	margin-top: 10px;
	margin-bottom: 10px;
}

#criarConta a{
	color: #844;
}

#criarConta button{
	background-color: #eee;
	border: none;
	border-radius: 1px;
	max-width: 50px;
	font-weight: bold;
	padding: 5px;
}

section#bloque, section#pergunta, section#pedirSenha{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
}

section#bloque p, section#pergunta p, section#pedirSenha p{
	margin-bottom: 10px;
	font-size: 1.2em;
}

.buttonGeneric{
	background-color: #eee;
	border: none;
	border-radius: 1px;
	margin-bottom: 10px;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}

.buttonGeneric:hover{
	opacity: 80%;
}

#pedirSenha h1{
	text-align: center;
	margin-bottom: 10px;
}

#pedirSenha #buttons{
	display: flex;
	flex-direction: column;
}

#bemVindoa{
	position: absolute;
	font-size: 2em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.balao{
	display: flex;
	position: absolute;
	flex-direction: column;
	border-radius: 10px 10px 10px 0px;
	border: 2px solid #222;
	background-color: #eee;
	padding: 5px;
	font-size: 1em;
	font-weight: bold;
	color: #222;
	cursor: pointer;
}

.appIcon{
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 1em;
	width: 64px;
	height: 64px;
	cursor: pointer;
}

.appIcon img{
	width: 64px;
	height: 64px;
	image-rendering: pixelated;
}

.appIcon label{
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
} 

div#ey-window.light .appIcon label{
	color: #222;
}

div#ey-window.light .appIcon img{
	filter: invert(90%);
}

.x{
	position: absolute;
	right: 5px;
	display: inline-block;
	align-items: center;
	text-align: center;
	cursor: pointer;
}

.x{
	width: 28px;
	height: 28px;
	image-rendering: pixelated;
	transform: translate: (-12px, 0px);
}

div#ey-window.light .x{
	filter: invert(100%);
}

@keyframes aparecer{
	0%{opacity: 0;}
	100%{opacity: 100%;}
}

@keyframes desaparecer{
	0%{opacity: 100%;}
	100%{opacity: 0%;}
}